
@{
    Layout = null;
    ViewBag.Title = "Логін";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Авторизація</title>
    <link rel="stylesheet" type="text/css" href="~/css/site.css">
</head>
<body>
    <div class="login-page">
        <div class="form">
            <p class="text">Авторизація</p>
            <form class="login-form" method="post" asp-action="Login">
                <input type="text" name="UserName" placeholder="Логін" />
                <input type="password" name="Password" placeholder="Пароль" />
                <button type="submit">Увійти</button>
            </form>
        </div>
    </div>
</body>
</html>
