<!DOCTYPE html>
<html lang="en">
<head>
  <title>Авторизація</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
  <div class="login-page">
  <div class="form">
    <form class="login-form">
      <p class="text">Авторизація<p>
      <input type="text" placeholder="Логін"/>
      <input type="password" placeholder="Пароль"/>
      <button>Увійти</button>
    </form>
  </div>
  </div>
</body>>
