@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Сторінка вчителя</title>
    <link rel="stylesheet" type="text/css" href="~/css/admin.css">
    <link rel="stylesheet" href="~/lib/toaster/toastr.min.css" />
</head>
<body>
    <div class="Menu">
        <div class="gerb"><img src="~/img/gerb.png" width="70" height="80"></div>
        <button class="Admin">Викладач</button>
        <button class="Teacher" onclick="location.href='@Url.Action("Course","Teacher")'">Курси</button>
        <button class="Exit" onclick="location.href='@Url.Action("Exit", "Teacher")'">Вихід</button>
    </div>
</body>
</html>