
@{
    ViewData["Title"] = "PasswordChange";
    Layout = "~/Views/Teacher/_Layout.cshtml";
}
@section Title {
    Змінити пароль
}
<div class="inform">

    <div class="new_groupe">
        <br>
        <h2>Змінити пароль</h2>
        <div class="text_inf">
            <div class="row">
                <div class="column">
                    <p></p>
                    <p>Старий&nbsp;пароль:</p>
                    <p>Новий&nbsp;пароль:</p>
                    <p>Повторіть&nbsp;пароль:</p>
                </div>
                <div class="column">
                    <form asp-action="ChangePass" asp-controller="Teacher" asp-antiforgery="true" method="post" id="change-password-form">
                        <div asp-validation-summary="All"></div>
                        <input class="input_pass" type="password" name="oldpass">
                        <input class="input_new_pass" type="password" name="newpass">
                        <input class="repeat_new_pass" type="password" name="rep_newpass">
                        <button class="input" type="submit">Змінити пароль</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
