body {
    background-color: #191919;
    margin: 0;
    background-size: cover;
}

button {
    background-image: none;
    background: transparent;
    background-color: transparent;
    color: #c3d2d7;
    border: 0;
    margin-top: 30px;
    width: 150px;
    margin-right:250px;
}

/*Menu*/


body {
    background-color: #191919;
    margin: 0;
    background-size: cover;
}

button {
    background-image: none;
    background: transparent;
    background-color: transparent;
    color: #c3d2d7;
    border: 0;
    margin-top: 30px;
    width: 150px;
}

/*Menu*/

.Menu {
    float: left;
    height: 100%;
    position: fixed;
    width: 150px;
    margin: 0;
    background: #3e383e;
}

.gerb {
    margin: 30px auto;
    width: 70px;
    height: 80px;
    margin-bottom: 0px;
}


/*Body*/
.inform {
    padding-top: 30px;
    width: 1000px;
    margin-left: 150px;
    height: 100%;
}

/*Input student*/

.new_student {
    margin-left: auto;
    width: 800px;
    height: auto;
    border-radius: 10px;
    background: #c3d2d7;
}

p {
    margin-top: -0.2px;
    color: #191919;
    padding-left: 80px;
    font-size: 18px;
}

input {
    height: 19px;
    width: 313px;
    border: 0;
    border-radius: 5px;
    margin-bottom: 18px;
}

select {
    border: 0;
    width: 313px;
    height: 21px;
    border-radius: 5px;
    margin-bottom: 18px;
}

h2 {
    color: #191919;
    padding-left: 45px;
}

.text_inf {
    width: 400px;
    float: left;
}

.input_inf {
    margin-top: 18px;
    width: 400px;
    float: right;
}

td {
    vertical-align: top;
    padding: 20px;
    border-right: 80px dashed #c3d2d7;
}

    td#leftcol {
        vertical-align: top;
        padding: 20px;
        border-right: 80px dashed #c3d2d7;
    }



/*Delete student*/
.delete_student {
    margin-top: 30px;
    margin-left: auto;
    width: 800px;
    height: 270px;
    border-radius: 10px;
    background: #c3d2d7;
}


.text_inf_del {
    width: 400px;
    float: left;
}

.input_inf_del {
    margin-top: 18px;
    width: 400px;
    float: right;
}

.delete, .input {
    border: 0;
    height: 21px;
    border-radius: 5px;
    margin-left: 331px;
    margin-top: 0px;
    background-color: #3e383e;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
    padding: 10px;
    height: 300px;
    width: 180px;
    margin-right: 100px;
}

.column1 {
    flex: 50%;
    padding: 10px;
    height: 300px;
    width: 100%;
}
/*Input teacher*/

.new_teacher {
    margin-left: auto;
    width: 800px;
    height: 400px;
    border-radius: 10px;
    background: #c3d2d7;
}

p {
    color: #191919;
    padding-left: 80px;
    font-size: 18px;
}

input {
    height: 19px;
    width: 313px;
    border: 0;
    border-radius: 5px;
    margin-bottom: 18px;
}

select {
    border: 0;
    width: 313px;
    height: 21px;
    border-radius: 5px;
    margin-bottom: 18px;
}

h2 {
    color: #191919;
    padding-left: 45px;
}

.text_inf {
    width: 400px;
    float: left;
}

.input_inf {
    margin-top: 18px;
    width: 400px;
    float: right;
}

/*Delete teacher*/
.delete_teacher {
    margin-top: 30px;
    margin-left: auto;
    width: 800px;
    height: 270px;
    border-radius: 10px;
    background: #c3d2d7;
}


.text_inf_del {
    width: 400px;
    float: left;
}

.input_inf_del {
    margin-top: 18px;
    width: 400px;
    float: right;
}

.delete, .input {
    border: 0;
    height: 21px;
    border-radius: 5px;
    margin-left: 331px;
    margin-top: 0px;
    background-color: #3e383e;
}

/*Input student*/

.new_groupe {
    margin-left: auto;
    width: 800px;
    height: 300px;
    border-radius: 10px;
    background: #c3d2d7;
}

p {
    color: #191919;
    padding-left: 80px;
    font-size: 18px;
}

input {
    height: 19px;
    width: 313px;
    border: 0;
    border-radius: 5px;
    margin-bottom: 18px;
}

select {
    border: 0;
    width: 313px;
    height: 21px;
    border-radius: 5px;
    margin-bottom: 18px;
}

h2 {
    color: #191919;
    padding-left: 45px;
}

.text_inf {
    width: 400px;
    float: left;
}

.input_inf {
    margin-top: 18px;
    width: 400px;
    float: right;
}

.input {
    border: 0;
    height: 21px;
    border-radius: 5px;
    margin-left: 331px;
    margin-top: 0px;
    background-color: #3e383e;
}

/*Delete student*/
.delete_groupe {
    margin-top: 30px;
    margin-left: auto;
    width: 800px;
    height: 400px;
    border-radius: 10px;
    background: #c3d2d7;
}


.text_inf_del {
    width: 400px;
    float: left;
}

.input_inf_del {
    margin-top: 18px;
    width: 400px;
    float: right;
}

.input, .delete {
    border: 0;
    height: 21px;
    border-radius: 5px;
    margin-left: 331px;
    margin-top: 0px;
    background-color: #3e383e;
}

.marks_inform {
    margin-top:auto;
    margin-left: 200px;
    width: 900px;
    border-radius: 10px;
    background: #c3d2d7;
}

table {
    width: 800px;
    margin-left: 35px;
    border-collapse: collapse;
}

td, th {
    padding: 10px;
    text-align: center;
    border: 1px solid black;
}

body {
    background-color: #191919;
    margin: 0;
    background-size: cover;
}

button {
    background-image: none;
    background: transparent;
    background-color: transparent;
    color: #c3d2d7;
    border: 0;
    margin-top: 30px;
    width: 150px;
}
.row {
    display: flex;
}

.column {
    flex: 50%;
    padding: 10px;
    height: 300px;
    width: 180px;
    margin-right: 100px;
}

.column1 {
    flex: 50%;
    padding: 10px;
    height: 300px;
    width: 100%;
}
/*Menu*/

.Menu {
    float: left;
    height: 100%;
    position: fixed;
    width: 150px;
    margin: 0;
    background: #3e383e;
}

.gerb {
    margin: 30px auto;
    width: 70px;
    height: 80px;
    margin-bottom: 0px;
}


/*Body*/
.inform {
    padding-top: 30px;
    width: 1000px;
    margin-left: 150px;
    height: 100%;
}

/*Input student*/

.new_student {
    margin-left: auto;
    width: 800px;
    height: 400px;
    border-radius: 10px;
    background: #c3d2d7;
}

p {
    margin-top: -0.2px;
    color: #191919;
    padding-left: 80px;
    font-size: 18px;
}

input {
    height: 19px;
    width: 313px;
    border: 0;
    border-radius: 5px;
    margin-bottom: 18px;
}

select {
    border: 0;
    width: 313px;
    height: 21px;
    border-radius: 5px;
    margin-bottom: 18px;
}

h2 {
    color: #191919;
    padding-left: 45px;
}

.text_inf {
    width: 400px;
    float: left;
}

.input_inf {
    margin-top: 18px;
    width: 400px;
    float: right;
}

td {
    vertical-align: top;
    padding: 20px;
}

    td#leftcol {
        vertical-align: top;
        padding: 20px;
        border-right: 80px dashed #c3d2d7;
    }



/*Delete student*/
.delete_student {
    margin-top: 30px;
    margin-left: auto;
    width: 800px;
    height: 270px;
    border-radius: 10px;
    background: #c3d2d7;
}


.text_inf_del {
    width: 400px;
    float: left;
}

.input_inf_del {
    margin-top: 18px;
    width: 400px;
    float: right;
}

.delete, .input {
    border: 0;
    height: 21px;
    border-radius: 5px;
    margin-left: 331px;
    margin-top: 0px;
    background-color: #3e383e;
} 