@{
    Layout = "~/Views/Admin/_Layout.cshtml";
}

@section Title {
    Академічні группи
}

<div class="inform">

    <div class="new_groupe">
        <br>
        <h2>Зміни навчального плану:</h2>
        <div class="text_inf">
            <p>Факультет:  </p>
            <p>Викладач: </p>
            <p>Предмет:  </p>
            <p>Група:  </p>
        </div>

        <div class="input_inf">

            <select class="input_faculty" name="Факультет">
                <option>Пункт 1</option>
                <option>Пункт 2</option>
            </select>

            <select class="input_teacher" name="Викладач">
                <option>Пункт 1</option>
                <option>Пункт 2</option>
            </select>

            <select class="input_subject" name="Предмет">
                <option>Пункт 1</option>
                <option>Пункт 2</option>
            </select>

            <select class="input_groupe" name="Група">
                <option>Пункт 1</option>
                <option>Пункт 2</option>
            </select>

        </div>
        <button class="input">Внести дані</button>
        <br>
    </div>

    <div class="delete_groupe">
        <br>
        <h2>Видалити предмет з навчального плану: </h2>
        <div class="text_inf_del">
            <p>Факультет:  </p>
            <p>Группа:  </p>
            <p>Предмет:  </p>
        </div>

        <div class="input_inf_del">

            <select class="del_faculty" name="Факультет">
                <option>Пункт 1</option>
                <option>Пункт 2</option>
            </select>

            <select class="del_groupe" name="Група">
                <option>Пункт 1</option>
                <option>Пункт 2</option>
            </select>
            <select class="del_subject" name="Предмет">
                <option>Пункт 1</option>
                <option>Пункт 2</option>
            </select>
        </div>
        <button class="delete">Видалити дані</button>
        <br>
    </div>
</div>