@model List<Student_project.Model.Groups>; 

    <option hidden selected> </option>
@foreach (var group in Model.OrderBy(x=>x.GroupName))
{
    <option value="@group.GroupName">@group.GroupName</option>
}