@model List<Student_project.Model.Students>;

    <option hidden selected> </option>
@foreach (var item in Model.OrderBy(x=>x.LastName).ThenBy(x=>x.FirstName))
{
    <option value="@item.ID">@item.LastName @item.FirstName @item.MiddleName</option>
}