<!DOCTYPE html>
<html>
<head>
	<title>Input_stud</title>
	<link rel="stylesheet" type="text/css" href="css_pass_change.css">
	<meta charset="utf-8">
</head>
<body>

	<div class="inform">
	
		
	<div class="new_student">
		<br>
		<h2>Змінити пароль</h2>
	<div class="text_inf">

		<table width="100%" cellspacing="0" id="maket">
   			<tr> 
    			<td id="leftcol" valign="top" >
    						<p>Старий&nbsp;пароль:</p>  
							<p>Новий&nbsp;пароль:</p>  
							<p>Повторіть&nbsp;пароль:</p>    
    			</td>
    			<td valign="top">
    					<input class="input_pass" type="text">
						<input class="input_new_pass" type="text">
						<input class="repeat_new_pass" type="text">
						

    			</td>

   			</tr>
  		</table>
  		<button class="input">Змінити пароль</button>
	</div>

	</div>



</body>
</html> 