<!DOCTYPE html>
<html>
<head>
	<title>Input_stud</title>
	<link rel="stylesheet" type="text/css" href="css_pass_change.css">
	<meta charset="utf-8">
</head>
<body>

	<div class="inform">
	
		
	<div class="new_student">
		<br>
		<h2>Змінити пароль</h2>
	<div class="text_inf">
  		<div class="row">
  			<div class="column">
    			<p>Старий&nbsp;пароль:</p>  
				<p>Новий&nbsp;пароль:</p>  
				<p>Повторіть&nbsp;пароль:</p> 
  			</div>
  			<div class="column">
  				    <input class="input_pass" type="text">
					<input class="input_new_pass" type="text">
					<input class="repeat_new_pass" type="text">
					<button class="input">Змінити пароль</button>
  			</div>

		</div>
	</div>

	</div>



</body>
</html> 