<!DOCTYPE html>
<html>
<head>
	<title>Input_stud</title>
	<link rel="stylesheet" type="text/css" href="css_stud.css">
	<meta charset="utf-8">
</head>
<body>
	<div class="Menu">
		<div class="gerb"><img  src="gerb.png" width="70" height="80"></div>
		<button class="Admin">Адміністратор</button>
		<button class="Teacher">Викладач</button>
		<button class="Stud">Студент</button>
		<button class="Groupe">Академічні групи</button>
		<button class="Exit">Вихід</button>

	</div>

	<div class="inform">

	<div class="new_student">
		<br>
		<h2>Внести студента</h2>
	<div class="text_inf">
		<p>ПІБ Студента:  </p>
		<p>Номер залікової книги:</p>
		<p>Факультет:  </p>
		<p>Кафедра: </p>
		<p>Напрям підготовки:  </p>
		<p>Группа:  </p>
	</div>

	<div class="input_inf">
		<input class="input_sur" type="text">
		<input class="input_num_book" type="text">

		<select class="input_faculty" name="Факультет">
  			<option>Пункт 1</option>
  			<option>Пункт 2</option> 
		</select>

		<select class="input_kafedra" name="Кафедра">
  			<option>Пункт 1</option>
  			<option>Пункт 2</option> 
		</select>

		<select class="input_specialty" name="Спеціальність">
  			<option>Пункт 1</option>
  			<option>Пункт 2</option> 
		</select>
		
		<select class="input_groupe" name="Група">
  			<option>Пункт 1</option>
  			<option>Пункт 2</option> 
		</select>
		
	</div>
	<button class="input">Внести дані</button>
		<br>
	</div>

	<div class="delete_student">
		<br>
		<h2>Видалити студента</h2>
	<div class="text_inf_del">
		<p>Факультет:  </p>
		<p>Группа:  </p>
		<p>ПІБ Студента:  </p>
	</div>

	<div class="input_inf_del">

		<select class="del_faculty" name="Факультет">
  			<option>Пункт 1</option>
  			<option>Пункт 2</option> 
		</select>

		<select class="del_groupe" name="Група">
  			<option>Пункт 1</option>
  			<option>Пункт 2</option> 
		</select>
		<select class="del_stud" name="Студент">
  			<option>Пункт 1</option>
  			<option>Пункт 2</option> 
		</select>
	</div>
	<button class="delete">Видалити дані</button>
		<br>
	</div>

</body>
</html>