<!DOCTYPE html>
<html>
<head>
	<title>Admin</title>
	<link rel="stylesheet" type="text/css" href="Admin_css.css">
	<meta charset="utf-8">
</head>
<body>
	<div class="Menu">
		<div class="gerb"><img  src="gerb.png" width="70" height="80"></div>
		<button class="Admin">Адміністратор</button>
		<button class="Teacher">Викладач</button>
		<button class="Stud">Студент</button>
		<button class="Groupe">Академічні групи</button>
		<button class="Exit">Вихід</button>

	</div>

	

</body>
</html>