<!DOCTYPE html>
<html>
<head>
	<title>Menu</title>
	<link rel="stylesheet" type="text/css" href="menu_css.css">
	<meta charset="utf-8">
</head>
<body>
	<div class="Menu">
		<div class="gerb"><img  src="gerb.png" width="70" height="80"></div>
		<button class="full_name">Вагилевич Дмитро Юрійович</button>
		<button class="Exit">Вихід</button>
        <nav class="one">
  
  			<ul class="topmenu">
   
    			<li><button class="button_1" href="#">Навчання студента</button>
     				<ul class="submenu">
        				<li><button class="button_1_0">Семестрові бали</button></li>
        				<li><button class="button_1_1">Item 2</button></li>
      				</ul>
    			</li>
    
  			</ul>
		</nav>

        <div class="Title_1">Кабінет Студента</div>
		
	</div>	
	<div class="private_inform">
		<br>
		<h2 class="title_inf">Загальна інформація</h2>
		<p>Львівський національний університет імені Івана Франка</p>
		<p>Факультет <strong>Факультет прикладної математики та інформатики</strong></p>
		<p><strong>Напрям підготовки "Комп’ютерні науки"</strong></p>
		<p>Освітньо-кваліфікаційний рівень <strong></strong></p>
		<p>Группа <strong>ПМІ-33с</strong></p>
		<p>Форма навчання <strong>Денна</strong></p>
		<p>Форма оплати навчання <strong>Держ.замовлення</strong></p>
		<p>Наказ на зарахування  <strong>1646</strong> від <strong>07.08.2017</strong></p>
		<p>Термін навчання <strong>4 роки</strong></p>
		<p>Дата закінчення навчання <strong>30.06.2021</strong></p>
		<br>
	</div>
</body>
</html>