<!DOCTYPE html>
<html>
<head>
	<title>Marks</title>
	<link rel="stylesheet" type="text/css" href="Marks_css.css">
	<meta charset="utf-8">
</head>
<body>
	<div class="Menu">
		<div class="gerb"><img  src="gerb.png" width="70" height="80"></div>
		<button class="full_name">Вагилевич Дмитро Юрійович</button>
		<button class="Exit">Вихід</button>
        <nav class="one">
  
  			<ul class="topmenu">
   
    			<li><button class="button_1" href="#">Навчання студента</button>
     				<ul class="submenu">
        				<li><button class="button_1_0">Семестрові бали</button></li>
        				<li><button class="button_1_1">Item 2</button></li>
      				</ul>
    			</li>
    
  			</ul>
		</nav>

        <div class="Title_1">Кабінет Студента</div>
		
	</div>	
	<div class="middle_inform">
		<br>
		<h2>Статистика оцінок</h2>
		<p>Середній бал студента за весь період - <strong>57,33 / 3,23</strong></p>
		<p>Розподіл оцінок за: <br />національною шкалою: 
		відмінно <strong>0</strong>%, 
		добре <strong>19</strong>%, 
		задовільно <strong>81</strong>%;
		<br />шкалою ECTS: 
		А <strong>0</strong>%, 
		В <strong>0</strong>%, 
		С <strong>19</strong>%, 
		D <strong>9,5</strong>%, 
		Е <strong>71,4</strong>%.</p>
		<br>
	</div>

	<div class="marks_inform">
		<br>
		<h2>Семестрові бали</h2>
		<table>
			<tr>
				<th>Дисципліна</th>
				<th>Години</th>
				<th>Бал</th>
			</tr>

			<tr>
				<td>Start-up економіка: теорія та практика</td>
				<td>90</td>
				<td>51</td>
			</tr>

			<tr>
				<td>Алгебра і геометрія</td>
				<td>150</td>
				<td>51</td>
			</tr>

			<tr>
				<td>Безпека життєдіяльності, цивільний захист та сестринська справа</td>
				<td>90</td>
				<td>51</td>
			</tr>

			<tr>
				<td>Дискретна математика</td>
				<td>120</td>
				<td>51</td>
			</tr>

			<tr>
				<td>Іноземна мова</td>
				<td>450</td>
				<td>51</td>
			</tr>

			<tr>
				<td>Математичний аналіз</td>
				<td>270</td>
				<td>51</td>
			</tr>

			<tr>
				<td>Навчальна (обчислювальна) практика</td>
				<td>90</td>
				<td>51</td>
			</tr>
			
		</table>
		<br>
	</div>
</body>
</html>